<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcb404.mapper.MissingBoardMapper">

<insert id = "Missingregist" >
insert into FOUND(found_number,members_id,found_place,found_hpnum1,found_hpnum2,found_hpnum3,found_email,found_title,found_content)
values(found_sequence.nextval,#{members_id},#{found_place},#{found_hpnum1},#{found_hpnum2},#{found_hpnum3},#{found_email},#{found_title},#{found_content})
</insert>

<select id = "MissinggetList" resultType="MissingBoardVO" >
<![CDATA[
      select * from
      (select rownum as rn, found_number, members_id, found_title, found_regdate from 
      (select * from Found where 
      ]]>
   <choose>
      <when test="searchKey==null or searchKey==''">1=1</when>
      <otherwise>found_title like '%'||#{searchKey}||'%'</otherwise>
   </choose>
   
   <![CDATA[
         order by found_number desc
      )) where rn>(#{pageNum}-1) * #{amount}  and rn<= #{pageNum} * #{amount}
      ]]>
</select>

<select id="getTotal" resultType="int">
            select count(*) from found where 
      
      <choose>
      
      <when test="searchKey==null or searchKey==''">1=1</when>
      <otherwise>found_title like '%'||#{searchKey}||'%'</otherwise>
      
      </choose>
   </select>
   
   <select id="getContent" resultType="MissingBoardVO">
		select * from found where found_number = #{found_number}
	</select>
	
	<update id="Update">
		update found set found_title=#{found_title}, found_content=#{found_content} where found_number=#{found_number}
	</update>


	<delete id="delete">
		delete from found where found_number = #{found_number}
	</delete>
</mapper>