<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lcb404.mapper.QNAReplyMapper">
	<insert id="replyRegist">
		insert into qnareply(qrno,qno,reply,replyId,replyPw)
		values(qrno_seq.nextval,#{qno},#{reply},#{replyId},#{replyPw})
	</insert>
	
	<select id="getList" resultType="QNAReplyVO">	
	 <![CDATA[
	 select * from
			(select rownum as rn,
	       qrno,
    	   qno,
      	   reply,
       	   replyId,
       	   replyPw,
       	   replyDate       	   
						from (select * from qnareply where qno = #{qno} order by qrno desc))
			where rn > (#{cri.pageNum}-1)*#{cri.amount} and rn <=#{cri.pageNum}*#{cri.amount}
	 ]]>
	</select>
	
	<select id="getTotal" resultType="int">
		select count(*) as cnt from qnareply where qno = #{qno}
	</select>
	
	<!--  
	<select id="getReplyPw" resultType = "int">
		select count(*) as result 
		from freereply where rno = #{rno} and replyPw = #{replyPw}
	</select>
	-->
	<select id="getReplyPw" resultType="String">
		select replyPw from qnareply where qrno = #{qrno}
	</select>
	
	<update id="replyUpdate">
		update qnareply set reply = #{reply}, replydate=sysdate where qrno = #{qrno}
	</update>
	
	<delete id="replyDelete">
		delete from qnareply where qrno = #{qrno}
	</delete>
</mapper>