<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lcb404.mapper.ReserveMapper">
	<insert id="setSeat">
		insert into reservation(reservation_number,timetable_number,reservation_row,reservation_seat)
		values
		(RESERVATION_SEQUENCE.nextval, #{timetable_number}, #{row}, #{seat})		
	</insert>
	<select id="getList" resultType="ReserveVO">
		select * from reservation where timetable_number = #{timetable_number}
	</select>
</mapper>